# Dataproject

> **Note the following:** 
> 1. This is *not* meant to be an example of an actual **data analysis project**, just an example of how to structure such a project.
> 1. Remember the general advice on structuring and commenting your code from [lecture 5](https://numeconcopenhagen.netlify.com/lectures/Workflow_and_debugging).
> 1. Remember this [guide](https://www.markdownguide.org/basic-syntax/) on markdown and (a bit of) latex.
> 1. Turn on automatic numbering by clicking on the small icon on top of the table of contents in the left sidebar.
> 1. The `dataproject.py` file includes a function which will be used multiple times in this notebook.

Imports and set magics:

In [41]:
#Installing programs in Anaconda Promt. 
#(1): pip install pandas-datareader
#(2): pip install git+https://github.com/elben10/pydst

#Importing used packages.
import numpy as np
import pandas as pd
import pandas_datareader # install in (1).
import pydst # install in (2).
import matplotlib.pyplot as plt

#DATACLEANING#

#We use pydst to use an API to Denmark's statistics
Dst = pydst.Dst(lang='en')
Dst.get_subjects() #Used to see list of different datasets. 
tables = Dst.get_tables(subjects=['16']) #We choose the main dataset for "Money and credit markets".
tables[tables.id == 'MPK49'] #We choose the subdataset for "Pension funds".
Vars = Dst.get_variables(table_id='MPK49')

#To find the variables we need, we inspect the table that we have imported:
Vars.values



#After picking out values, we can get our data:
Data = Dst.get_data(table_id = 'MPK49', variables={'AKTPAS':['5180','5190','5200'], 'TID':['2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016',], 'TYPE':['*']})
Data.rename(columns={'AKTPAS':'Assets & Liabilities','TID':'Year','TYPE':'Type','INDHOLD':'Amount'},inplace=True)

Index = Data.set_index('Year')
Sort = Index[['Type','Assets & Liabilities','Amount']]

Working = Sort[Sort['Assets & Liabilities']=='Number of working members'].sort_values(['Year','Type']).rename(columns={'Assets & Liabilities':'Currently working', 'Amount':'Average pension funds for currently working'})
Retired = Sort[Sort['Assets & Liabilities']=='Number of retired members'].sort_values(['Year','Type']).rename(columns={'Assets & Liabilities':'Currently retired', 'Amount':'Average pension funds for currently retired'})


Retired_notype = Retired[['Currently retired', 'Average pension funds for currently retired']]

#Concatenate the two tables:
Concatenated_table = pd.concat([Working, Retired_notype], axis=1)
Concatenated_table

,Type,Currently working,Average pension funds for currently working,Currently retired,Average pension funds for currently retired
Year,,,,,
2000,Corporate pension funds,Number of working members,11898,Number of retired members,7749
2000,Intersectoral pension funds,Number of working members,563021,Number of retired members,31614
2001,Corporate pension funds,Number of working members,11404,Number of retired members,7292
2001,Intersectoral pension funds,Number of working members,630306,Number of retired members,49017
2002,Corporate pension funds,Number of working members,9830,Number of retired members,6950
2002,Intersectoral pension funds,Number of working members,651860,Number of retired members,53920
2003,Corporate pension funds,Number of working members,9912,Number of retired members,6965
2003,Intersectoral pension funds,Number of working members,662770,Number of retired members,57071
2004,Corporate pension funds,Number of working members,8624,Number of retired members,7543
2004,Intersectoral pension funds,Number of working members,680956,Number of retired members,63988
2005,Corporate pension funds,Number of working members,8172,Number of retired members,7785
2005,Intersectoral pension funds,Number of working members,554752,Number of retired members,66338
2006,Corporate pension funds,Number of working members,7760,Number of retired members,7979
2006,Intersectoral pension funds,Number of working members,575017,Number of retired members,73534
2007,Corporate pension funds,Number of working members,7356,Number of retired members,7976
2007,Intersectoral pension funds,Number of working members,576598,Number of retired members,79588
2008,Corporate pension funds,Number of working members,6794,Number of retired members,7905
2008,Intersectoral pension funds,Number of working members,590181,Number of retired members,86471
2009,Corporate pension funds,Number of working members,6441,Number of retired members,8177
2009,Intersectoral pension funds,Number of working members,572742,Number of retired members,90420
2010,Corporate pension funds,Number of working members,6409,Number of retired members,8510
2010,Intersectoral pension funds,Number of working members,586760,Number of retired members,96071
2011,Corporate pension funds,Number of working members,5824,Number of retired members,8162
2011,Intersectoral pension funds,Number of working members,598891,Number of retired members,102499
2012,Corporate pension funds,Number of working members,4312,Number of retired members,8114
2012,Intersectoral pension funds,Number of working members,578905,Number of retired members,105487
2013,Corporate pension funds,Number of working members,3626,Number of retired members,7128
2013,Intersectoral pension funds,Number of working members,600039,Number of retired members,116882
2014,Corporate pension funds,Number of working members,3293,Number of retired members,7832
2014,Intersectoral pension funds,Number of working members,611702,Number of retired members,123644
2015,Corporate pension funds,Number of working members,2988,Number of retired members,7807
2015,Intersectoral pension funds,Number of working members,637724,Number of retired members,130283
2016,Corporate pension funds,Number of working members,2748,Number of retired members,7770
2016,Intersectoral pension funds,Number of working members,721992,Number of retired members,131610

In [44]:
#Installing programs in Anaconda Promt. 
#(1): pip install pandas-datareader
#(2): pip install git+https://github.com/elben10/pydst

#Importing used packages.
import numpy as np
import pandas as pd
import pandas_datareader # install in (1).
import pydst # install in (2).
import matplotlib.pyplot as plt

#DATACLEANING#

#We use pydst to use an API to Denmark's statistics
Dst = pydst.Dst(lang='en')
Dst.get_subjects() #Used to see list of different datasets. 
tables = Dst.get_tables(subjects=['16']) #We choose the main dataset for "Money and credit markets".
tables[tables.id == 'MPK49'] #We choose the subdataset for "Pension funds".
Vars = Dst.get_variables(table_id='MPK49')

#To find the variables we need, we inspect the table that we have imported:
Vars.values



#After picking out values, we can get our data:
Data = Dst.get_data(table_id = 'MPK49', variables={'AKTPAS':['5180','5190','5200'], 'TID':['2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016',], 'TYPE':['*']})
Data.rename(columns={'AKTPAS':'Assets & Liabilities','TID':'Year','TYPE':'Type','INDHOLD':'Amount'},inplace=True)

Index = Data.set_index('Year')
Sort = Index[['Type','Assets & Liabilities','Amount']]

Working = Sort[Sort['Assets & Liabilities']=='Number of working members'].sort_values(['Year','Type']).rename(columns={'Assets & Liabilities':'Currently working', 'Amount':'Average pension funds for currently working'})
Retired = Sort[Sort['Assets & Liabilities']=='Number of retired members'].sort_values(['Year','Type']).rename(columns={'Assets & Liabilities':'Currently retired', 'Amount':'Average pension funds for currently retired'})


Retired_notype = Retired[['Currently retired', 'Average pension funds for currently retired']]

#Concatenate the two tables:
Concatenated_table = pd.concat([Working, Retired_notype], axis=1)
Concatenated_table


#Removing the gender nicer look.
Final_table = Concatenated_table[['Type','Average pension funds for currently working','Average pension funds for currently retired']]
Final_table = Final_table.dropna(axis=0)
Final_table

Final_table['Gap in pension sum'] = Final_table['Average pension funds for currently working'].astype(float) - Final_table['Average pension funds for currently retired'].astype(float)
Final_table['Difference in pension sum (Pct)'] = ((Final_table['Average pension funds for currently working'].astype(float)/Final_table['Average pension funds for currently retired'].astype(float))-1)*100
Final_table





def Difference(type):
    #Simply plotting the difference against years to see the evolution
    plt.plot(Final_table[type]['Tid'],Final_table[type]['Difference in pct between employed and retired pension'])
    plt.xlabel('Year')
    plt.ylabel('Difference in pct between employed and retired pension')
    plt.title('Test')
    plt.axis([])
    plt.grid(True)
    return plt.show()

Difference(type=='Corporate pension funds')

KeyError: False

In [ ]:
#Import the neccesary packages
import numpy as np
import pandas as pd
import pydst
import matplotlib.pyplot as plt

#DATACLEANING#

#We use pydst to use an API to Denmark's statistics
Dst = pydst.Dst(lang='en')
Dst.get_data(table_id='INDKP101')
Vars = Dst.get_variables(table_id='INDKP101')

#To find the variables we need, we inspect the table that we have imported:
Vars.values

#After picking out values, we can get our data:
Everything = Dst.get_data(table_id = 'INDKP101', variables={'OMRÅDE':['000','01','02','03','04','05','06','07','08','09','10','11'], 'KOEN':['M','K'], 'TID':['*'], 'ENHED':['116'], 'INDKOMSTTYPE':['100']}).rename(columns={'OMRÅDE':'Municipality'})

#Changing the index to Municipality:
New_index = Everything.set_index('Municipality')

#Picking out the neccesary variables:
Sortet = New_index[['TID','KOEN','INDHOLD']].rename(columns={'KOEN':'Gender', 'TID':'Year', 'INDHOLD':'disposable income'})

#Making a table for each gender:
Men = Sortet[Sortet['Gender']=='Men'].sort_values(['Municipality','Year']).rename(columns={'disposable income':'disposable_income_men'})

Women = Sortet[Sortet['Gender']=='Women'].sort_values(['Municipality', 'Year']).rename(columns={'disposable income':'disposable_income_women'})

Women_without_year = Women[['Gender', 'disposable_income_women']]

#Concatenate the two tables:
Concatenated_table = pd.concat([Men, Women_without_year], axis=1)

Concatenated_table




#Removing the gender nicer look:
Final_table = Concatenated_table[['Year','disposable_income_men','disposable_income_women']]

#DATACLEANING COMPLETE#



#APPLYING METHODS#

#Creates a function with provides the difference between the genders in %:
def f(x):
    """Gives the procentual difference between the genders"""
    return round((x['disposable_income_men']/x['disposable_income_women']-1)*100, 2)

#Applying the function to the end of the table:
Final_table['Difference in %']=Final_table.apply(f, axis=1)
Final_table





def Difference(assets):
    #Simply plotting the difference against years to see the evolution
    plt.plot(d[al]['Tid'],d[al]['Difference in pct between employed and retired pension'])
    plt.xlabel('Year')
    plt.ylabel('Difference in pct between employed and retired pension')
    plt.title(f'Difference in pension for {str(al)}')
    plt.axis([])
    plt.grid(True)
    return plt.show()

In [ ]:
%load_ext autoreload
%autoreload 2
# You can load your python module as this:
import dataproject as dp
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

# Read and clean data

## Employment data

**Read the employment data** in ``RAS200.xlsx`` and **clean it** removing and renaming columns:

In [ ]:
# a. load
empl = pd.read_excel('RAS200.xlsx', skiprows=2)

# b. drop columns
drop_these = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3']
empl.drop(drop_these, axis=1, inplace=True)

# c. rename columns
empl.rename(columns = {'Unnamed: 4':'municipality'}, inplace=True)

The dataset now looks like this:

In [ ]:
empl.head()

**Remove all rows which are not municipalities**:

In [ ]:
empl = dataproject.only_keep_municipalities(empl)
empl.head()

**Convert the dataset to long format**:

In [ ]:
# a. rename year columns
mydict = {str(i):f'employment{i}' for i in range(2008,2018)}
empl.rename(columns = mydict, inplace=True)

# b. convert to long
empl_long = pd.wide_to_long(empl, stubnames='employment', i='municipality', j='year').reset_index()

# c. show
empl_long.head()

## Income data

**Read the income data** in ``INDKP101.xlsx`` and **clean it**:

In [ ]:
# a. load
inc = pd.read_excel('INDKP101.xlsx', skiprows=2)

# b. drop and rename columns
inc.drop([f'Unnamed: {i}' for i in range(3)], axis=1, inplace=True)
inc.rename(columns = {'Unnamed: 3':'municipality'}, inplace=True)

# c. drop rows with missing
inc.dropna(inplace=True)

# d. remove non-municipalities
inc = dataproject.only_keep_municipalities(inc)

# e. convert to long
inc.rename(columns = {str(i):f'income{i}' for i in range(1986,2018)}, inplace=True)
inc_long = pd.wide_to_long(inc, stubnames='income', i='municipality', j='year').reset_index()

# f. show
inc_long.head(5)

> **Note:** The function ``dataproject.only_keep_municipalities()`` is used on both the employment and the income datasets.

## Explore data set

In order to be able to **explore the raw data**, we here provide an **interactive plot** to show, respectively, the employment and income level in each municipality

The **static plot** is:

In [ ]:
def plot_empl_inc(empl,inc,dataset,municipality): 
    
    if dataset == 'Employment':
        df = empl
        y = 'employment'
    else:
        df = inc
        y = 'income'
    
    I = df['municipality'] == municipality
    ax = df.loc[I,:].plot(x='year', y=y, style='-o')

The **interactive plot** is:

In [ ]:
widgets.interact(plot_empl_inc, 
    
    empl = widgets.fixed(empl_long),
    inc = widgets.fixed(inc_long),
    dataset = widgets.Dropdown(description='Dataset', 
                               options=['Employment','Income']),
    municipality = widgets.Dropdown(description='Municipality', 
                                    options=empl_long.municipality.unique())
                 
);

ADD SOMETHING HERE IF THE READER SHOULD KNOW THAT E.G. SOME MUNICIPALITY IS SPECIAL.

# Merge data sets

We now create a data set with **municpalities which are in both of our data sets**. We can illustrate this **merge** as:

In [ ]:
plt.figure(figsize=(15,7))
v = venn2(subsets = (4, 4, 10), set_labels = ('inc', 'empl'))
v.get_label_by_id('100').set_text('dropped')
v.get_label_by_id('010').set_text('dropped' )
v.get_label_by_id('110').set_text('included')
plt.show()

In [ ]:
merged = pd.merge(empl_long, inc_long, how='inner',on=['municipality','year'])

print(f'Number of municipalities = {len(merged.municipality.unique())}')
print(f'Number of years          = {len(merged.year.unique())}')

# Analysis

To get a quick overview of the data, we show some **summary statistics by year**:

In [ ]:
merged.groupby('year').agg(['mean','std']).round(2)

ADD FURTHER ANALYSIS. EXPLAIN THE CODE BRIEFLY AND SUMMARIZE THE RESULTS.

# Conclusion

ADD CONCISE CONLUSION.