# Dataproject

In [24]:
%load_ext autoreload
%autoreload 2
# You can load your python module as this:
import dataproject as dp
import matplotlib.pyplot as plt

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
[autoreload of dataproject failed: Traceback (most recent call last):
  File "C:\Users\mads\Anaconda\lib\site-packages\IPython\extensions\autoreload.py", line 245, in check
    superreload(m, reload, self.old_objects)
  File "C:\Users\mads\Anaconda\lib\site-packages\IPython\extensions\autoreload.py", line 434, in superreload
    module = reload(module)
  File "C:\Users\mads\Anaconda\lib\imp.py", line 314, in reload
    return importlib.reload(module)
  File "C:\Users\mads\Anaconda\lib\importlib\__init__.py", line 169, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 630, in _exec
  File "<frozen importlib._bootstrap_external>", line 728, in exec_module
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "c:\Users\mads\OneDrive\Dokumenter\GitHub\projects-2020-group-60\dataproject\dataproject.py", line 49, in <module>
    Inter_Reduc = Ínter.drop('Type', axis=1)
NameError: name 'Ínter' is not defined
]

# Datacleaning

To begin with, we look through the table we have chosen, to finde the variables we want to inspect.

In [25]:
dp.vars.values

array([['AKTPAS', 'assets/liabilities', False, False,
        list([{'id': '5180', 'text': 'Number of members'}, {'id': '5190', 'text': 'Number of working members'}, {'id': '5200', 'text': 'Number of retired members'}, {'id': '5210', 'text': 'Number of retired spouses'}, {'id': '5220', 'text': 'Number of children who receive childrens pension'}, {'id': '5230', 'text': 'Current annual pension, total'}, {'id': '5240', 'text': 'Pension for members'}, {'id': '5250', 'text': 'Pension for spouses'}, {'id': '5260', 'text': 'Pension for children'}, {'id': '5270', 'text': 'Member contributions (miscellaneous income)'}, {'id': '5280', 'text': 'Of which extraordinary contributions'}, {'id': '5290', 'text': 'Interest income and profits (miscellaneous income)'}, {'id': '5300', 'text': 'Pensions (miscellaneous expenditure)'}, {'id': '5310', 'text': 'retirement allowances (miscellaneous expenditure)'}, {'id': '5320', 'text': 'Assets, total'}, {'id': '5330', 'text': 'Central government bonds (book value)'}, {'id': '5340', 'text': 'Other bonds (book value)'}, {'id': '5350', 'text': 'Mortgage credit bonds, etc. (book value)'}, {'id': '5360', 'text': 'Cash at bank and in hand'}, {'id': '5370', 'text': 'Mortgage credits'}, {'id': '5380', 'text': 'Loans with other collateral'}, {'id': '5390', 'text': 'Other assets'}, {'id': '5400', 'text': 'Premium reserves'}])],
       ['TYPE', 'type', False, False,
        list([{'id': '5410', 'text': 'Intersectoral pension funds '}, {'id': '5420', 'text': 'Corporate pension funds'}])],
       ['Tid', 'time', False, True,
        list([{'id': '2000', 'text': '2000'}, {'id': '2001', 'text': '2001'}, {'id': '2002', 'text': '2002'}, {'id': '2003', 'text': '2003'}, {'id': '2004', 'text': '2004'}, {'id': '2005', 'text': '2005'}, {'id': '2006', 'text': '2006'}, {'id': '2007', 'text': '2007'}, {'id': '2008', 'text': '2008'}, {'id': '2009', 'text': '2009'}, {'id': '2010', 'text': '2010'}, {'id': '2011', 'text': '2011'}, {'id': '2012', 'text': '2012'}, {'id': '2013', 'text': '2013'}, {'id': '2014', 'text': '2014'}, {'id': '2015', 'text': '2015'}, {'id': '2016', 'text': '2016'}, {'id': '2017', 'text': '2017'}, {'id': '2018', 'text': '2018'}])]],
      dtype=object)

**Following we can seen every different tables coded in the dp.py file to achieve our reduced table where all the data is cleaned.**

In [26]:
dp.Data

   Assets & Liabilities  Year                          Type  Amount
0         Assets, total  2000  Intersectoral pension funds   269482
1         Assets, total  2000       Corporate pension funds   43315
2         Assets, total  2001  Intersectoral pension funds   272145
3         Assets, total  2001       Corporate pension funds   39984
4         Assets, total  2002  Intersectoral pension funds   277018
5         Assets, total  2002       Corporate pension funds   37077
6         Assets, total  2003  Intersectoral pension funds   301892
7         Assets, total  2003       Corporate pension funds   38191
8         Assets, total  2004  Intersectoral pension funds   339245
9         Assets, total  2004       Corporate pension funds   39185
10        Assets, total  2005  Intersectoral pension funds   381048
11        Assets, total  2005       Corporate pension funds   42474
12        Assets, total  2006  Intersectoral pension funds   402367
13        Assets, total  2006       Corporate pension funds   42920
14        Assets, total  2007  Intersectoral pension funds   412251
15        Assets, total  2007       Corporate pension funds   43027
16        Assets, total  2008  Intersectoral pension funds   395954
17        Assets, total  2008       Corporate pension funds   42714
18        Assets, total  2009  Intersectoral pension funds   435996
19        Assets, total  2009       Corporate pension funds   45328
20        Assets, total  2010  Intersectoral pension funds   439697
21        Assets, total  2010       Corporate pension funds   50789
22        Assets, total  2011  Intersectoral pension funds   555614
23        Assets, total  2011       Corporate pension funds   53019
24        Assets, total  2012  Intersectoral pension funds   565033
25        Assets, total  2012       Corporate pension funds   57381
26        Assets, total  2013  Intersectoral pension funds   585232
27        Assets, total  2013       Corporate pension funds   52661
28        Assets, total  2014  Intersectoral pension funds   646091
29        Assets, total  2014       Corporate pension funds   59433
30        Assets, total  2015  Intersectoral pension funds   671570
31        Assets, total  2015       Corporate pension funds   59821
32        Assets, total  2016  Intersectoral pension funds   691892
33        Assets, total  2016       Corporate pension funds   59133

In [27]:
dp.Index

     Assets & Liabilities                          Type  Amount
Year
2000        Assets, total  Intersectoral pension funds   269482
2000        Assets, total       Corporate pension funds   43315
2001        Assets, total  Intersectoral pension funds   272145
2001        Assets, total       Corporate pension funds   39984
2002        Assets, total  Intersectoral pension funds   277018
2002        Assets, total       Corporate pension funds   37077
2003        Assets, total  Intersectoral pension funds   301892
2003        Assets, total       Corporate pension funds   38191
2004        Assets, total  Intersectoral pension funds   339245
2004        Assets, total       Corporate pension funds   39185
2005        Assets, total  Intersectoral pension funds   381048
2005        Assets, total       Corporate pension funds   42474
2006        Assets, total  Intersectoral pension funds   402367
2006        Assets, total       Corporate pension funds   42920
2007        Assets, total  Intersectoral pension funds   412251
2007        Assets, total       Corporate pension funds   43027
2008        Assets, total  Intersectoral pension funds   395954
2008        Assets, total       Corporate pension funds   42714
2009        Assets, total  Intersectoral pension funds   435996
2009        Assets, total       Corporate pension funds   45328
2010        Assets, total  Intersectoral pension funds   439697
2010        Assets, total       Corporate pension funds   50789
2011        Assets, total  Intersectoral pension funds   555614
2011        Assets, total       Corporate pension funds   53019
2012        Assets, total  Intersectoral pension funds   565033
2012        Assets, total       Corporate pension funds   57381
2013        Assets, total  Intersectoral pension funds   585232
2013        Assets, total       Corporate pension funds   52661
2014        Assets, total  Intersectoral pension funds   646091
2014        Assets, total       Corporate pension funds   59433
2015        Assets, total  Intersectoral pension funds   671570
2015        Assets, total       Corporate pension funds   59821
2016        Assets, total  Intersectoral pension funds   691892
2016        Assets, total       Corporate pension funds   59133

In [28]:
dp.Sort

                              Type Assets & Liabilities  Amount
Year
2000  Intersectoral pension funds         Assets, total  269482
2000       Corporate pension funds        Assets, total   43315
2001  Intersectoral pension funds         Assets, total  272145
2001       Corporate pension funds        Assets, total   39984
2002  Intersectoral pension funds         Assets, total  277018
2002       Corporate pension funds        Assets, total   37077
2003  Intersectoral pension funds         Assets, total  301892
2003       Corporate pension funds        Assets, total   38191
2004  Intersectoral pension funds         Assets, total  339245
2004       Corporate pension funds        Assets, total   39185
2005  Intersectoral pension funds         Assets, total  381048
2005       Corporate pension funds        Assets, total   42474
2006  Intersectoral pension funds         Assets, total  402367
2006       Corporate pension funds        Assets, total   42920
2007  Intersectoral pension funds         Assets, total  412251
2007       Corporate pension funds        Assets, total   43027
2008  Intersectoral pension funds         Assets, total  395954
2008       Corporate pension funds        Assets, total   42714
2009  Intersectoral pension funds         Assets, total  435996
2009       Corporate pension funds        Assets, total   45328
2010  Intersectoral pension funds         Assets, total  439697
2010       Corporate pension funds        Assets, total   50789
2011  Intersectoral pension funds         Assets, total  555614
2011       Corporate pension funds        Assets, total   53019
2012  Intersectoral pension funds         Assets, total  565033
2012       Corporate pension funds        Assets, total   57381
2013  Intersectoral pension funds         Assets, total  585232
2013       Corporate pension funds        Assets, total   52661
2014  Intersectoral pension funds         Assets, total  646091
2014       Corporate pension funds        Assets, total   59433
2015  Intersectoral pension funds         Assets, total  671570
2015       Corporate pension funds        Assets, total   59821
2016  Intersectoral pension funds         Assets, total  691892
2016       Corporate pension funds        Assets, total   59133

In [29]:
dp.Corp_Reduc

     Assets & Liabilities  Corporate pension funds in mio kr.
Year
2000        Assets, total                               43315
2001        Assets, total                               39984
2002        Assets, total                               37077
2003        Assets, total                               38191
2004        Assets, total                               39185
2005        Assets, total                               42474
2006        Assets, total                               42920
2007        Assets, total                               43027
2008        Assets, total                               42714
2009        Assets, total                               45328
2010        Assets, total                               50789
2011        Assets, total                               53019
2012        Assets, total                               57381
2013        Assets, total                               52661
2014        Assets, total                               59433
2015        Assets, total                               59821
2016        Assets, total                               59133

In [30]:
dp.Inter_Reduc

AttributeError: module 'dataproject' has no attribute 'Inter_Reduc'

In [31]:
dp.Complete

AttributeError: module 'dataproject' has no attribute 'Complete'

Calling on the function 'Graph()' in dp.py on each variable in the table 'Complete' to creat four graphs.

In [32]:
dp.Graph('Currently working members')
dp.Graph('Currently retired members')
dp.Graph('Gap in pension sum')
dp.Graph('Difference in pension sum (Pct)')

AttributeError: module 'dataproject' has no attribute 'Graph'

It can be seen that the pension funds for currently working, is falling throughout the time series.
While the pension form for currently retired is falling in the years 2000 to 2002. This can be seen as an effect of the IT crises which lead to a fall in the stock market, and thereby reducing the capital of the pension funds. The pension funds for currently retired increases over the years for 2002 to 2006, and falls in the years 2007 and 2008, probably due the financial crises in 2008. After the period the pension funds for currently retired increases up to 2010, and hereafter it falls until 2013, where after it starts increasing again. 
It is seen that the gap between pension funds for currently working, and currently changed since, as the total corporate pensions funds in 2005 and forward changed to be made of a greater percentage of retired pensions owners. Which contrasts with the years 2000 to 2005, where pension funds for currently working consisted to a larger percentage of the total corporate pension funds.

# Conclusion

Using datacleaning methods we have reduce a large and complex dataset to a specified table which only contains the most important variables and values. We have also created illustrative graphs of each variable from our final dataset. All in all we have managed to use python code to retrieve and reduce data and showing different variables in graphs to be able to analyse and give an economical intepretation of corporate pension funds for currently working and retired.