# Dataproject

> **Note the following:** 
> 1. This is *not* meant to be an example of an actual **data analysis project**, just an example of how to structure such a project.
> 1. Remember the general advice on structuring and commenting your code from [lecture 5](https://numeconcopenhagen.netlify.com/lectures/Workflow_and_debugging).
> 1. Remember this [guide](https://www.markdownguide.org/basic-syntax/) on markdown and (a bit of) latex.
> 1. Turn on automatic numbering by clicking on the small icon on top of the table of contents in the left sidebar.
> 1. The `dataproject.py` file includes a function which will be used multiple times in this notebook.

Imports and set magics:

In [4]:
%load_ext autoreload
%autoreload 2
# You can load your python module as this:
import dataproject as dp
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Gendergap for disposable income overall

**For this part of the project, we reference our code from the .py file project.py and show the resluts here:**

**Read the employment data** in ``RAS200.xlsx`` and **clean it** removing and renaming columns:

To begin with, we look through the table we have chosen, to finde the variables we want to inspect:

In [6]:
dp.Vars.values

array([['AKTPAS', 'assets/liabilities', False, False,
        list([{'id': '5180', 'text': 'Number of members'}, {'id': '5190', 'text': 'Number of working members'}, {'id': '5200', 'text': 'Number of retired members'}, {'id': '5210', 'text': 'Number of retired spouses'}, {'id': '5220', 'text': 'Number of children who receive childrens pension'}, {'id': '5230', 'text': 'Current annual pension, total'}, {'id': '5240', 'text': 'Pension for members'}, {'id': '5250', 'text': 'Pension for spouses'}, {'id': '5260', 'text': 'Pension for children'}, {'id': '5270', 'text': 'Member contributions (miscellaneous income)'}, {'id': '5280', 'text': 'Of which extraordinary contributions'}, {'id': '5290', 'text': 'Interest income and profits (miscellaneous income)'}, {'id': '5300', 'text': 'Pensions (miscellaneous expenditure)'}, {'id': '5310', 'text': 'retirement allowances (miscellaneous expenditure)'}, {'id': '5320', 'text': 'Assets, total'}, {'id': '5330', 'text': 'Central government bonds (book value)'}, {'id': '5340', 'text': 'Other bonds (book value)'}, {'id': '5350', 'text': 'Mortgage credit bonds, etc. (book value)'}, {'id': '5360', 'text': 'Cash at bank and in hand'}, {'id': '5370', 'text': 'Mortgage credits'}, {'id': '5380', 'text': 'Loans with other collateral'}, {'id': '5390', 'text': 'Other assets'}, {'id': '5400', 'text': 'Premium reserves'}])],
       ['TYPE', 'type', False, False,
        list([{'id': '5410', 'text': 'Intersectoral pension funds '}, {'id': '5420', 'text': 'Corporate pension funds'}])],
       ['Tid', 'time', False, True,
        list([{'id': '2000', 'text': '2000'}, {'id': '2001', 'text': '2001'}, {'id': '2002', 'text': '2002'}, {'id': '2003', 'text': '2003'}, {'id': '2004', 'text': '2004'}, {'id': '2005', 'text': '2005'}, {'id': '2006', 'text': '2006'}, {'id': '2007', 'text': '2007'}, {'id': '2008', 'text': '2008'}, {'id': '2009', 'text': '2009'}, {'id': '2010', 'text': '2010'}, {'id': '2011', 'text': '2011'}, {'id': '2012', 'text': '2012'}, {'id': '2013', 'text': '2013'}, {'id': '2014', 'text': '2014'}, {'id': '2015', 'text': '2015'}, {'id': '2016', 'text': '2016'}, {'id': '2017', 'text': '2017'}, {'id': '2018', 'text': '2018'}])]],
      dtype=object)

**Sort:

In [16]:
dp.Final_table

,Type,Average pension funds for currently working,Average pension funds for currently retired,Gap in pension sum,Difference in pension sum (Pct)
Year,,,,,
2000,Corporate pension funds,11898,7749,4149.0,53.542393
2000,Intersectoral pension funds,563021,31614,531407.0,1680.923009
2001,Corporate pension funds,11404,7292,4112.0,56.390565
2001,Intersectoral pension funds,630306,49017,581289.0,1185.892649
2002,Corporate pension funds,9830,6950,2880.0,41.438849
2002,Intersectoral pension funds,651860,53920,597940.0,1108.939169
2003,Corporate pension funds,9912,6965,2947.0,42.311558
2003,Intersectoral pension funds,662770,57071,605699.0,1061.307845
2004,Corporate pension funds,8624,7543,1081.0,14.331168
2004,Intersectoral pension funds,680956,63988,616968.0,964.193286
2005,Corporate pension funds,8172,7785,387.0,4.971098
2005,Intersectoral pension funds,554752,66338,488414.0,736.250716
2006,Corporate pension funds,7760,7979,-219.0,-2.744705
2006,Intersectoral pension funds,575017,73534,501483.0,681.974325
2007,Corporate pension funds,7356,7976,-620.0,-7.773320
2007,Intersectoral pension funds,576598,79588,497010.0,624.478565
2008,Corporate pension funds,6794,7905,-1111.0,-14.054396
2008,Intersectoral pension funds,590181,86471,503710.0,582.518995
2009,Corporate pension funds,6441,8177,-1736.0,-21.230280
2009,Intersectoral pension funds,572742,90420,482322.0,533.424021
2010,Corporate pension funds,6409,8510,-2101.0,-24.688602
2010,Intersectoral pension funds,586760,96071,490689.0,510.756628
2011,Corporate pension funds,5824,8162,-2338.0,-28.644940
2011,Intersectoral pension funds,598891,102499,496392.0,484.289603
2012,Corporate pension funds,4312,8114,-3802.0,-46.857284
2012,Intersectoral pension funds,578905,105487,473418.0,448.792742
2013,Corporate pension funds,3626,7128,-3502.0,-49.130191
2013,Intersectoral pension funds,600039,116882,483157.0,413.371606
2014,Corporate pension funds,3293,7832,-4539.0,-57.954545
2014,Intersectoral pension funds,611702,123644,488058.0,394.728414
2015,Corporate pension funds,2988,7807,-4819.0,-61.726656
2015,Intersectoral pension funds,637724,130283,507441.0,389.491338
2016,Corporate pension funds,2748,7770,-5022.0,-64.633205
2016,Intersectoral pension funds,721992,131610,590382.0,448.584454

Using a for loop, we have created a dictionary which contains the names of the provinces as the keys, and the individually tables as the values.

In [23]:
dp.d.keys()

dict_keys([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016])

**Convert the dataset to long format**:

In [9]:
# a. rename year columns
mydict = {str(i):f'employment{i}' for i in range(2008,2018)}
empl.rename(columns = mydict, inplace=True)

# b. convert to long
empl_long = pd.wide_to_long(empl, stubnames='employment', i='municipality', j='year').reset_index()

# c. show
empl_long.head()

NameError: name 'empl' is not defined

## Income data

**Read the income data** in ``INDKP101.xlsx`` and **clean it**:

In [10]:
# a. load
inc = pd.read_excel('INDKP101.xlsx', skiprows=2)

# b. drop and rename columns
inc.drop([f'Unnamed: {i}' for i in range(3)], axis=1, inplace=True)
inc.rename(columns = {'Unnamed: 3':'municipality'}, inplace=True)

# c. drop rows with missing
inc.dropna(inplace=True)

# d. remove non-municipalities
inc = dataproject.only_keep_municipalities(inc)

# e. convert to long
inc.rename(columns = {str(i):f'income{i}' for i in range(1986,2018)}, inplace=True)
inc_long = pd.wide_to_long(inc, stubnames='income', i='municipality', j='year').reset_index()

# f. show
inc_long.head(5)

NameError: name 'pd' is not defined

> **Note:** The function ``dataproject.only_keep_municipalities()`` is used on both the employment and the income datasets.

## Explore data set

In order to be able to **explore the raw data**, we here provide an **interactive plot** to show, respectively, the employment and income level in each municipality

The **static plot** is:

In [11]:
def plot_empl_inc(empl,inc,dataset,municipality): 
    
    if dataset == 'Employment':
        df = empl
        y = 'employment'
    else:
        df = inc
        y = 'income'
    
    I = df['municipality'] == municipality
    ax = df.loc[I,:].plot(x='year', y=y, style='-o')

The **interactive plot** is:

In [12]:
widgets.interact(plot_empl_inc, 
    
    empl = widgets.fixed(empl_long),
    inc = widgets.fixed(inc_long),
    dataset = widgets.Dropdown(description='Dataset', 
                               options=['Employment','Income']),
    municipality = widgets.Dropdown(description='Municipality', 
                                    options=empl_long.municipality.unique())
                 
);

NameError: name 'empl_long' is not defined

ADD SOMETHING HERE IF THE READER SHOULD KNOW THAT E.G. SOME MUNICIPALITY IS SPECIAL.

# Merge data sets

We now create a data set with **municpalities which are in both of our data sets**. We can illustrate this **merge** as:

In [13]:
plt.figure(figsize=(15,7))
v = venn2(subsets = (4, 4, 10), set_labels = ('inc', 'empl'))
v.get_label_by_id('100').set_text('dropped')
v.get_label_by_id('010').set_text('dropped' )
v.get_label_by_id('110').set_text('included')
plt.show()

NameError: name 'plt' is not defined

In [14]:
merged = pd.merge(empl_long, inc_long, how='inner',on=['municipality','year'])

print(f'Number of municipalities = {len(merged.municipality.unique())}')
print(f'Number of years          = {len(merged.year.unique())}')

NameError: name 'pd' is not defined

# Analysis

To get a quick overview of the data, we show some **summary statistics by year**:

In [15]:
merged.groupby('year').agg(['mean','std']).round(2)

NameError: name 'merged' is not defined

ADD FURTHER ANALYSIS. EXPLAIN THE CODE BRIEFLY AND SUMMARIZE THE RESULTS.

# Conclusion

ADD CONCISE CONLUSION.